main {
  margin: 0 auto;
  width: 60%;
  font-family: "Karla", sans-serif;
  text-align: center;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 15px 0px;
  max-width: 100%;
}

.form--input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  padding: 7px 0px;
}

.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #fec9f1;
  color: white;
  font-weight: bold;
  padding: 7px;
}
.form--button:hover {
  opacity: 0.7;
}
.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px -1px #fb2eef, -1px 1px #fb2eef, 1px -1px #fb2eef,
    1px 1px #fb2eef;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
